name: CI Security

on:
  push:
    branches: [ main, master ]
  pull_request:

jobs:
  lint-dockerfile:
    name: Lint Dockerfile with Hadolint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
          config: .hadolint.yaml
  scan-image-trivy:
    name: Scan Docker image with Trivy
    runs-on: ubuntu-latest
    needs: lint-dockerfile   # сначала Hadolint, потом Trivy

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t course-project-mokrry-app:ci -f Dockerfile .

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: course-project-mokrry-app:ci
          trivy-config: trivy.yaml

      - name: Upload Trivy report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-results.sarif
